<%# Searchbar %>
<div id="search-btn">
  <div id="searchbar">
    <%= form_tag skins_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Hunt your dream skin"
      %>
    <% end %>
  </div>
  <div id="btn">
    <%= link_to "Sell your skin", new_skin_path, class:"btn btn-warning" %>
  </div>
</div>
<%# Display de todas as skins %>
<div id="show_all" class="container d-flex flex-wrap mb-5">
  <% @skins.each do |skin| %>
    <%= link_to skin_path(skin), class: 'text-decoration-none text-secondary' do %>
      <div id="skin_id" class='card mt-3 ml-2 mr-2 mb-3'>
      <%= cl_image_tag skin.photo.key, height: 190, width: 258, crop: :fill if skin.photo.attached? %>
        <div class="ml-3 mt-2">
          <p><strong><%= skin.name %></strong></p>
          <p><%= skin.comment %></p>
          <p><strong>$ <%= skin.price %></strong></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
