<div class="container my-5 d-flex">
  <h3 class="text-white mr-5">Create your order</h3>
  <%= link_to "Add Skin", new_skin_path, class:"btn btn-warning" %>
</div>

<div class="container mt-3">
  <% Skin::SKINS_CATEGORIES.each do |category| %>
    <%= link_to category, skins_path({category: category}), class:"btn btn-warning" %>
  <% end %>
</div>
<div class="container d-flex flex-wrap">
  <% @skins.each do |skin| %>
    <%= link_to skin_path(skin), class: 'text-decoration-none text-secondary' do %>
      <div id="skin_id" class='card mt-3 ml-2 mr-2 mb-3'>
      <%= cl_image_tag skin.photo.key, height: 190, width: 258, crop: :fill if skin.photo.attached? %>
        <p><%= skin.category %></p>
        <p><strong>Name:</strong> <%= skin.name %></p>
        <p><%= skin.comment %></p>
        <p>$<%= skin.price %></p>
      </div>
    <% end %>
  <% end %>
</div>
