<div class="container mt-5">
  <%= link_to 'Home', skins_path, class: 'btn btn-dark' %>
  <% if policy(@skin).edit? %>
    <%= link_to "Edit", edit_skin_path(@skin), class: 'btn btn-dark' %>
    <%= link_to "Delete", @skin, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-dark'  %>
  <% end %>

  <div class="card mt-3 col-lg-12 d-flex" style="width: 100%; height: 500px; background-color: #70609b;">

    <div class="row" style = "height: 490px">
      <div class="col-md-6">
        <div id="img_cards" class="container">
          <%= cl_image_tag @skin.photo.key, class: 'object-fit w-100 rounded border border-warning', crop: :fill if @skin.photo.attached? %>
        </div>
      </div>
      <div class="col-md-6 d-flex pt-5 mt-4">
        <div class="text-white">
          <div class="card-body">
            <h1 class="card-title"><%= @skin.name %> </h1>
            <p class="card-text">$ <%= @skin.price %> </p>
            <h5 class="card-text"><%= @skin.comment %> </h5>
          </div>
        </div>
      </div>
    </div>

  </div>

  <% unless policy(@skin).edit? %>
   <%= link_to 'Buy', new_skin_order_path(@skin), class: 'btn btn-warning btn-block my-3'  %>
  <% end %>
</div>
